<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>svs Microfrontend Case</title>

    <script src="https://cdn.jsdelivr.net/npm/regenerator-runtime@0.13.7/runtime.min.js"></script>

    <meta
      http-equiv="Content-Security-Policy"
      content="default-src 'self' https: localhost:*; script-src 'unsafe-inline' 'unsafe-eval' https: localhost:*; connect-src https: localhost:* ws://localhost:*; style-src 'unsafe-inline' https:; object-src 'none';"
    />
    <meta name="importmap-type" content="systemjs-importmap" />

    <script
      type="systemjs-importmap"
      src="https://api.npoint.io/15a617bb81fc1c07a150.json"
    ></script>

    <link
      rel="preload"
      href="https://cdn.jsdelivr.net/npm/single-spa@5.9.0/lib/system/single-spa.min.js"
      as="script"
    />

    <!-- Add your organization's prod import map URL to this script's src  -->
    <!-- <script type="systemjs-importmap" src="/importmap.json"></script> -->

    <% if (isLocal) { %>
    <script type="systemjs-importmap">
      {
        "imports": {
          "@svs/root-config": "//localhost:9000/svs-root-config.js",
          "@svs/header": "//localhost:9001/svs-header.js",
          "@svs/carousel": "//localhost:9002/svs-carousel.js",
          "@svs/products": "//localhost:9003/svs-products.js",
          "@svs/footer": "//localhost:9004/svs-footer.js"
        }
      }
    </script>
    <% } %>

    <script src="https://cdn.jsdelivr.net/npm/import-map-overrides@2.2.0/dist/import-map-overrides.js"></script>
    <% if (isLocal) { %>
    <script src="https://cdn.jsdelivr.net/npm/systemjs@6.8.3/dist/system.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/systemjs@6.8.3/dist/extras/amd.js"></script>
    <% } else { %>
    <script src="https://cdn.jsdelivr.net/npm/systemjs@6.8.3/dist/system.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/systemjs@6.8.3/dist/extras/amd.min.js"></script>
    <% } %>

    <template id="svs-microfrontend-layout">
      <single-spa-router>
        <nav>
          <application name="@svs/header"></application>
        </nav>
        <div class="main-area">
          <div class="svs-carousel">
            <application name="@svs/carousel"></application>
          </div>
          <div class="svs-products">
            <application name="@svs/products"></application>
          </div>
        </div>
        <footer>
          <application name="@svs/footer"></application>
        </footer>
      </single-spa-router>
    </template>
  </head>
  <body>
    <noscript> You need to enable JavaScript to run this app. </noscript>
    <main></main>
    <script>
      System.import("@svs/root-config");
    </script>
    <import-map-overrides-full
      show-when-local-storage="devtools"
      dev-libs
    ></import-map-overrides-full>
  </body>
</html>
